
#root, body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

header div{
    display: flex;
    flex-direction: row;
}

.todo-container{
    width: 33%;
}
