.todo-creation-element{
    display: flex;
    flex-direction: column;
    position: fixed;
    border: 1px solid red;
    width: 33%;
    bottom: 0px;
    background-color: white;
    box-sizing: border-box;
    padding: 1em;
    height: 40%;
}

.todo-creation-element input{
    padding: .5em 0 .5em 0;
    margin: .5em 0 .5em 0;
}

.todo-creation-element button{
    padding: .5em 0 .5em 0;
    margin: .5em 0 .5em 0;
}